html {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}


/* inicio */

.title {
  font-size: 3em;
  font-weight: 500;
}

.weight-light {
  font-weight: 300 !important;
}

.clear-decoration {
  text-decoration: none;
}

.menu {
  background-color: rgba(48, 48, 48, .2);
}

.menu .list-item {
  margin: 0 -2px;
}

.menu .list-item a:hover {
  background-color: rgba(48, 48, 48, 0.6);
}


/* Menu mobile */

.slicknav_menu {
  display: none;
  background-color: rgba(48, 48, 48, .7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
}

.slicknav_btn {
  background-color: rgba(48, 48, 48, .7);
  position: absolute;
  top: 0;
  left: 0;
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
  margin-top: 0;
}

.slicknav_menu .slicknav_menutxt {
  text-shadow: none;
  font-weight: 400;
}

.slicknav_nav ul {
  margin: 0;
}

.slicknav_nav a {
  border-radius: 0 !important;
  margin-bottom: 10px;
}

.slicknav_nav a:hover {
  background: initial !important;
}

.slicknav_nav li {
  display: block !important;
}

.slicknav_nav li:first-child {
  margin-top: 40px;
}

.slicknav_nav li a:active {
  background-color: rgba(48, 48, 48, 0.6) !important;
}


/* Menu mobile icon animated */

.slicknav_icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.slicknav_icon .slicknav_icon-bar {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ff7070;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.slicknav_icon .slicknav_icon-bar:nth-child(1) {
  top: 0px;
}

.slicknav_icon .slicknav_icon-bar:nth-child(2) {
  top: 5px;
}

.slicknav_icon .slicknav_icon-bar:nth-child(3) {
  top: 10px;
}

.slicknav_icon.slicknav_open .slicknav_icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.slicknav_icon.slicknav_open .slicknav_icon-bar:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.slicknav_icon.slicknav_open .slicknav_icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.cover {
  background-image: url('../img/capa.png');
  background-repeat: no-repeat;
  background-position: center top;
  height: 800px;
  overflow: hidden;
}

.counter .name {
  font-family: 'Parisienne', cursive;
  font-size: 6.250em;
  font-weight: 400;
}

.counter .name span {
  font-size: 1.2em;
}

.counter .name:after {
  content: "";
  background-image: url('../img/separate-floral.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin-top: 160px;
  left: 0;
  right: 0;
  height: 75px;
}

.counter .coming {
  font-size: 2.250em;
}

.counter .list-item span {
  font-size: 3.750em;
}

.counter .list-item p {
  font-family: 'Parisienne', cursive;
  margin-bottom: 0;
}

.couple {
  background-image: url('../img/casal.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

.couple .grooms {
  border-radius: 10px 40px 10px 40px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.32);
  margin-top: 120px;
}

.couple .grooms + .grooms {
  border-radius: 40px 10px 40px 10px;
}

.couple .grooms .img {
  margin-top: -155px;
}

.line {
  background-color: rgb(247, 185, 192);
  position: absolute;
  left: 365px;
  top: 1979px;
  width: 73px;
  height: 1px;
  z-index: 25;
}

.couple .grooms .subtitle {
  font-family: 'Parisienne', cursive;
}

.couple .grooms .subtitle:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -110px;
  width: 73px;
  height: 1px;
  background: #f7b9c0;
}

.couple .grooms .subtitle:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 50%;
  margin-right: -110px;
  width: 73px;
  height: 1px;
  background: #f7b9c0;
}

.couple .grooms .text {
  color: #576484;
}


/* fim */

.history .title {
  margin-bottom: 60px;
}

.history .arrow {
  background: url('../img/arrow.png') no-repeat right center;
  width: 100%;
  height: 14px;
  position: absolute;
  right: -20%;
  top: 49%;
  z-index: -1;
}

.events .photo1 {
  padding-right: 0;
}

.events .photo2 {
  padding-left: 0;
}

.events .map1 {
  padding-left: 0;
}

.events .map2 {
  padding-right: 0;
}

.events .map {
  height: 300px;
}

.owl-nav div {
  position: absolute;
  top: -10px;
  color: #f7b9c0;
  font-size: 150px;
}

.owl-nav .owl-prev {
  left: -50px;
}

.owl-nav .owl-next {
  right: -50px;
}

.btn-present {
  font-size: 1.5em;
  line-height: 60px;
}

.btn-present small {
  font-size: 14px;
}

.btn-present span {
  height: 60px;
  line-height: 1.2;
}

.btn-present span:before {
  content: "";
  background-image: url('../img/btn-present-left.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 60px;
}

.btn-present span:after {
  content: "";
  background-image: url('../img/btn-present-right.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: -20px;
  width: 20px;
  height: 60px;
}

.white-popup-block {
  position: relative;
  background: #FFF;
  padding: 2em 3em;
  width: auto;
  margin: 20px auto;
  max-width: 600px;
}

.message {
  background-image: url('../img/mensagem.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.message .title {
  font-family: 'Parisienne', cursive;
}

.message .btn {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

.textarea {
  min-height: 150px;
}

.load-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  opacity: 0.9;
}

.loader1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin: -100px;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

.loader2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  margin: -90px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 1199px) {
  .menu .list .list-item a {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  #menu,
  .menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .events {
    text-align: center;
  }
  .events .img {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .couple .grooms+.grooms {
    margin-top: 200px;
  }
}

@media (max-width: 543px) {
  .title {
    font-size: 2.5em;
  }
  .counter .list-item span {
    font-size: 50px;
    line-height: 100px;
    width: 110px;
    height: 110px;
  }
  .gallery .list-item {
    width: 45%;
    margin: 5px;
  }
  .counter .name {
    font-size: 5.000em;
  }
  .counter .coming {
    margin-top: 100px;
  }
  .box-btn-present {
    padding: 0 5px;
  }
  .btn-present span {
    font-size: 14px;
    padding: 0;
  }
  .btn-present small {
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .mfp-content .btn-present {
    margin-left: -20px;
    margin-right: -20px;
  }
  .mfp-content .btn-present span {
    font-size: 13px;
  }
}
